<%= provide(:title, 'Todos los Usuarios') %>
<h1>Lista de Usuarios</h1>

<%= will_paginate %>
<ul class="usuarios">
  <% @usuarios.each do |usuario| %>
  <li>
    <%= gravatar_for usuario %>
    <%= usuario.name %> 
    <% if current_user.admin? && !current_user?(usuario) %>
    <%= link_to "delete", usuario, method: :delete, data:{confirm: "Esta seguro?"} %>
    <% end %>
  </li>
  <% end %>
</ul>

<%= will_paginate %>